/*RESET CSS BEGIN*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/*RESET CSS END*/


/*HELPER CLASS BEGIN*/

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
ul li,
ol li {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 20px 0;
}

ul li,
ol li {
    margin-bottom: 10px;
}


/*HELPER CLASS END*/

* {
    box-sizing: border-box;
    outline: 0;
}

header{
    background:orange;
}
.nav-wrapper{
    max-width:80%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.nav-wrapper img{
    width:80px;
}
.nav-wrapper ul{
    list-style: none;
}
.nav-wrapper ul li{
    display: inline-block;
    padding:0 8px;
    margin-bottom:0px;
}
.nav-wrapper ul li a{
    text-decoration: none;
    color:white;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
    font-family: 'Lato', sans-serif;
}

.nav-wrapper ul li a:hover{
padding-left: 5px;
padding-right: 5px;
font-weight: 700;
border-bottom: 1px solid white;
transition: all 0.3s ease-in-out;
}
.content p{
    max-width:800px;
    margin: auto;
    text-align: justify;
    padding:15px;
}
header.sticky{
    background: lightgrey;
    position: fixed;    
    width:100%;
    transform: translateY(-200%);
    transition: all 0.3s;
}
header.sticky .nav-wrapper ul li a
{
    color:black;
}

body.scroll header.sticky{
    transform: translateY(0);
}








